<table class="table table-striped table-bordered">
	<h4>Running Activities</h4>
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Type</th>
			<th>Operations</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="exec in filteredExecutions = ( caseInstanceExecutions | filter:filterRunningActivities )">
			<td>{{ exec.activityName }}</td>
			<td>{{ exec.activityDescription }}</td>
			<td>{{ exec.activityType }}</td>
			<td><button class="btn btn-primary" ng-click="completeExecution(exec.id)" ng-show="exec.activityType == 'stage'">Complete</button></td>
		</tr>
		<tr ng-hide="filteredExecutions.length">
			<td colspan="4">No running activities.</td>
		</tr>
	</tbody>
</table>

<h4>Possible Activities</h4>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Type</th>
			<th>Operations</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="exec in filteredExecutions = ( caseInstanceExecutions | filter: { enabled:true })">
			<td>{{ exec.activityName }}</td>
			<td>{{ exec.activityDescription }}</td>
			<td>{{ exec.activityType }}</td>
			<td><button class="btn btn-primary" ng-click="startExecution(exec.id)">Start</button></td>
		</tr>
		<tr ng-hide="filteredExecutions.length">
			<td colspan="4">No possible activities.</td>
		</tr>
	</tbody>
</table>

<h4>Completed Activities</h4>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Create Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="history in filteredHistory = ( caseHistoryExecutions | filter: { completed: true })">
      <td>{{ history.caseActivityName }}</td>
      <td>{{ history.createTime }}</td>
      <td>{{ history.endTime }}</td>
    </tr>
    <tr ng-hide="filteredHistory.length">
      <td colspan="3">No completed activities.</td>
    </tr>
  </tbody>
</table>