<div class="container">
	<h2>Case Instances</h2>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Case Instance Id</th>
						<th>Case Definition Id</th>
						<th>Business Key</th>
						<th>Active</th>
						<th>Completed</th>
					</tr>
				</thead>
				<tbody>
					<tr
						ng-repeat="case in filteredInstances = ( caseInstances | instanceFilter:activeVersionsOnly )">
						<td><a ng-href="#/instance/{{ case.id }}">{{ case.id }}</a></td>
						<td><a ng-href="#/definition/{{ case.caseDefinitionId }}"><span>{{
									case.caseDefinitionId }}</span></a></td>
						<td>{{ case.businessKey }}</td>
						<td>{{ case.active }}</td>
						<td>{{ case.completed }}</td>
					</tr>
				</tbody>
			</table>
			<input type="checkbox" ng-model="activeVersionsOnly"
				name="activeVersionsOnly"><span>Show active instances
				only.</span>
		</div>
	</div>
	<h2>Process Instances</h2>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Process Instance Id</th>
						<th>Process Definition Id</th>
						<th>Business Key</th>
						<th>Ended</th>
						<th>Suspended</th>
					</tr>
				</thead>
				<tbody>
					<tr
						ng-repeat="process in filteredInstances2 = ( processInstances | instanceFilter:activeVersionsOnly2 )">
						<td><!-- a ng-href="#/instance/{{ process.id }}"-->{{ process.id }}<!-- /a--></td>
						<td><!--a ng-href="#/definition/{{ process.definitionId }}"><span-->{{
									process.definitionId }}<!-- /span></a--></td>
						<td>{{ process.businessKey }}</td>
						<td>{{ process.ended }}</td>
						<td>{{ process.suspended }}</td>
					</tr>
				</tbody>
			</table>
			<input type="checkbox" ng-model="activeVersionsOnly2"
				name="activeVersionsOnly2"><span>Show running instances
				only.</span>
		</div>
	</div>
	
</div>