<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>Case Instance</h3>
			<div>
				<label>Id</label>
				<span>{{ selectedInstance.id }}</span>
			</div>
			<div>
				<label>Business Key</label>
				<span>{{ selectedInstance.businessKey }}</span>
			</div>
			<div>
				<label>Case DefinitionId</label>
				<a ng-href="#/definition/{{ selectedInstance.caseDefinitionId }}"><span>{{ selectedInstance.caseDefinitionId }}</span></a>
			</div>
			<div>
				<label>Active</label>
				<span>{{ selectedInstance.active }}</span>
			</div>
			<div>
				<label>Completed</label>
				<span>{{ selectedInstance.completed }}</span>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<h3>Case Data</h3>
			<table class="table table-striped table-bordered">
		        <thead>
		            <tr>
		                <th>Name</th>
						<th>Value</th>
						<th>Type</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="var in caseInstanceVariables">
		                <td>{{ var.name }}</td>
		                <td>{{ var.value }}</td>
		                <td>{{ var.type }}</td>
		            </tr>
		            <tr ng-hide="caseInstanceVariables.length">
		            	<td colspan="3">No case variables found.</td>
		            </tr>
		        </tbody>
		    </table>
		</div> 
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-hide="true">
			<h3>History</h3>
			<div>TODO</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>Possible Tasks</h3>
			<form>
			<table class="table table-striped table-bordered">
		        <thead>
		            <tr>
		                <th>Name</th>
		                <th>Description</th>
						<th>Type</th>
						<th>Operations</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="exec in filteredExecutions = ( caseInstanceExecutions | filter: { enabled:true })">
		                <td>{{ exec.name }}</td>
		                <td>{{ exec.description }}</td>
		                <td>{{ exec.type }}</td>
		                <td><button class="btn btn-primary" ng-click="startExecution(exec.id)">Start</button></td>
		            </tr>
		            <tr ng-hide="filteredExecutions.length">
		            	<td colspan="4">No possible tasks.</td>
		            </tr>
		        </tbody>
		    </table>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>Running Tasks</h3>
			<form>
			<table class="table table-striped table-bordered">
		        <thead>
		            <tr>
		                <th>Name</th>
		                <th>Description</th>
						<th>Type</th>
						<th>Operations</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="exec in filteredExecutions = ( caseInstanceExecutions | filter: { active:true })">
		                <td>{{ exec.name }}</td>
		                <td>{{ exec.description }}</td>
		                <td>{{ exec.type }}</td>
		                <td><button class="btn btn-primary" ng-click="completeExecution(exec.id)" ng-show="exec.type == 'HUMANTASK'">Complete</button></td>
		            </tr>
		            <tr ng-hide="filteredExecutions.length">
		            	<td colspan="4">No running tasks.</td>
		            </tr>
		        </tbody>
		    </table>
			</form>
		</div> 
		<div class="col-md-12">
			<h3>Active User Tasks</h3>
			<table class="table table-striped table-bordered">
		        <thead>
		            <tr>
		                <th>Name</th>
						<th>Description</th>
						<th>Assignee</th>
						<th>Created</th>
						<th>Due</th>
						<th>Priority</th>
						<th>Operations</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="task in tasks">
		                <td>{{ task.name }}</td>
		                <td>{{ task.description }}</td>
		                <td>{{ task.assignee }}</td>
		                <td>{{ task.created }}</td>
		                <td>{{ task.due }}</td>
		                <td>{{ task.priority }}</td>
   		                <td>
   		                <!-- 
   		                	<button class="btn" ng-click="openTaskForm(task)">Open</button>
   		                 -->
   		                </td>	                
		            </tr>
		            <tr ng-hide="tasks.length">
		            	<td colspan="7">No tasks found.</td>
		            </tr>
		        </tbody>
		    </table>
		</div>		
	</div>


	<div class="formContainer"></div>

</div>
